/* grid styles */
.container{

    @media (min-width: 1200px) { 
        width: 100%;
        max-width: 1200px;
    }
    
    @media (max-width: 1200px) { 
        width: 100%;
        max-width: 993px;
    }
}
